img {
    display: block;
    width: 370px;
    height: 294px;
}


.gallery {
    display: flex;

    justify-content: center;
}

.gallery-box:not(:last-child) {
    margin-right: 30px;
}



#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.size-text {
    font-size: 32px;
}