.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
  // position: fixed;
  & .container {
    display: flex;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__header-adress {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header-adress__item {
  display: flex;
  align-items: baseline;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-adress__mail-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  .header-adress__logo-mail {
    height: 12px;
    fill: #757575;
    margin-right: 10px;
  }
}

.header-adress__tel-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  .header-adress__logo-tel {
    height: 16px;
    fill: #757575;
    margin-right: 10px;
  }
}
.header-button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.button-close {
  position: absolute;
  right: 15px;
  top: -37px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  top: 0;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mobile-list__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.mobile-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mob-contacts-list {
  margin-bottom: 64px;
}
.mob-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts-list__item {
  margin-bottom: 32px;
}

.mob-contacts-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mob-contacts-list__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-socials-list {
  display: flex;
}

.mob-socials-list__item {
  &:not(:last-child) {
    margin-right: 10px;
    .mob-socials-list__link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}
.mob-socials-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
