.hero {
  // max-width: 480px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg/hero.jpg);
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .hero {
//       background-image: linear-gradient(
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url();
//     }
//   }
//   @media screen and (min-width: 768px) {
//     .hero {
//       background-image: linear-gradient(
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url();
//     }
//   }
//   @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .hero-main {
//       background-image: linear-gradient(
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url();
//     }
//   }
//   @media screen and (min-width: 1200px) {
//     .hero-main {
//       background-image: linear-gradient(
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url();
//     }
//   }
//   @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .hero-main {
//       background-image: linear-gradient(
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url();
//     }
//   }
// }

.hero-container {
  max-width: 360px;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
 }
.hero-container__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--main-title-color); 
  margin: 0 auto;
  }
