.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  logo--footer {
    margin-bottom: 20px;
    color: #fff;
  }
  .header__link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--accent-color);
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 128px;
  }
}
